*{
    margin :0;
    padding :0;
}

body{
    background : rgba(255,255,255,0.9);
}

#info{
    position:absolute;
    text-align:center;
    top: 10px ;
    display:block;
    width: 100%;
    z-index:100;
}